<!doctype html>
<html>
<head>
    <title>Kharkovforum Rent Topics</title>

    <link rel="stylesheet" href="popup.css"/>

    <script language="JavaScript" src="/js/angular.js"></script>
    <script language="JavaScript" src="/js/shim.js"></script>
    <script language="JavaScript" src="/js/popup.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">

<div ng-if="!elems.length">
    Loading...
</div>

<div ng-show="elems.length">
    Filter: <input type="text" ng-model="filterText"/>
</div>

<div class="topics">
    <div class="topic" ng-repeat="e in elems track by $index | filter:filterText | orderBy:['timesLoaded', '-dateRegistered']"
            ng-class="{new: isNew(e), newest: isNewest(e) }">
        <div>
            <table class="width100 infoTable">
                <tr>
                    <td>Received</td>
                    <td>Updated</td>
                    <td>Last opened</td>
                </tr>
                <tr>
                    <td>{{date(e.dateRegistered)}}</td>
                    <td>{{date(e.lastLoaded)}}</td>
                    <td>{{date(e.lastOpened)}}</td>
                </tr>
            </table>

        </div>
        <button ng-click="goTo(e)">{{e.text}}</button>
        <div>{{e.title}}</div>
    </div>
</div>


</body>
</html>