body {
    width: 450px;
    min-height: 200px;
    overflow-x: hidden;
    line-height: 13px;
    font-size: 13px;
    font-family: cursive;
}

button {
    font-size: 12px;
}

.topic {
    border: 1px solid darkgray;
    padding: 2px 2px 2px 5px;
}

.width100 {
    width: 100%;
}

.infoTable td {
    width: 33%;
    line-height: 10px;
    font-size: 10px;
}

.new {
    background-color: RGB(250, 250, 180);
}

.newest {
    background-color: RGB(230, 240, 230);
}

.topics {
    margin: 10px 0 0;
}
